* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
}

.nav {
    display: flex;
    font-size: 1.6rem;
    justify-content: end;
    align-items: center;
}

li {
    list-style: none;
    margin-top: 1.5rem;
    margin-right: 2rem;
    
}
li a {
    text-decoration: none;
}
.image-container {
    width: 2vw;
}
.perfil-container {
    width: 3vw;
}
.logo-google {
    width: 25vw;
}
.figure-logo {
    margin-top: 12rem;
}
.buscador {
    width: 55rem;
    height: 5rem;
    border-radius: 5rem;
    border: 0.2rem solid rgb(196, 193, 193);
}
::placeholder {
    position: relative;
    left: 15px;
    font-size: 1.5rem;
}
.container {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}
.botones {
    
    width: 12vw;
    height: 5vh;
    margin-top: 2rem;
    background-color: #eeedf0 ;
    border: none;
    border-radius: .5rem;
}
.buttons {
    margin-right: 10px;
}
.a-buscar {
    color: #909094;
}
.ola {
    display: flex;
}
.voz {
    height: 25px;
    width: 20px;
    background-color: white;
    cursor: pointer;
    border: none;
    position: absolute;
    right: 44rem;
    bottom: 30.5rem;
}
.vozi {
    height: 25px;
    width: 20px;
}